.content-header{
  display: flex;
  justify-content: center;
  background-image:url("../cats.jpg");
  background-size: cover;
  height: 300px;
  width: 1000px;
  border: 1px solid gray;
  position: relative;
}

.button{
  background-color: white;
  padding: 15px 20px;
  border-radius: 10px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.text{
  display: flex;
  align-items: flex-end;
  font-size: 20px;
  font-weight: 400;
  color: blue;
  margin: 10px; 
}
